$background-color-body: #FFFFFF;
$background-color-header: #FFFFFF;
$border-bottom-color: #CCCCCC;
$text-color: #000000;
$background-color-transparent: #FFFFFF;
$background-color-filled: #FF6336;
$text-color-filled: #FFFFFF;
$background-color-footer: #FF9C7D


